.navigate {
  background-color: cornflowerblue;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  padding: 25x;
  margin: 5px;
  color: white;
}
.navigate:focus {
  outline: 0;
}
body {
  background-color: rgb(243, 243, 250);
}
