.tableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tableContainer button {
  background-color: rgb(236, 72, 12);
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px rgba(0, 0, 0);
  padding: 0 10px;
  margin: 5px;
  color: white;
}
.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 4px black;
  border: 2px solid black;
  padding: 20px 0;
  margin: 10px;
  border-radius: 50%;
  width: 150px;
  aspect-ratio: 1;
  text-align: center;
}
.open {
  
  background-color: lightblue;

}
.occupied {
  background-color: coral;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

